@font-face {
    font-family: 'Noto Sans';
    src: url('../src/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../src/assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

:root {

    /* Neutral colors */
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);

    /* Red colors */

    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);

    /* Gradient */

    --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

    /* Border */

    --border-shadow: 0 2px var(--neutral-200);
    --border: 1px solid var(--neutral-300);

    /* Margins */
    --margin-bottom: 1rem
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background: var(--light-gradient);
    color: var(--neutral-900);
    font-family: "Noto Sans", sans-serif;
    min-height: 100vh;
    padding: 1rem clamp(1rem, 5vw, 4rem);
}

/* Generic */

.button {
    background: var(--neutral-0);
    border-radius: 4rem;
    border: var(--border);
    box-shadow: var(--border-shadow);
    cursor: pointer;
    padding: .4rem 1rem;
    font-weight: 500;
}

.button:focus {
    outline: 2px solid var(--red-700);
}

/* Extension */



/* Top bar-menu */

.top__bar {
    align-items: center;
    background-color: var(--light-gradient);
    background-color: var(--neutral-0);
    border-radius: .6rem;
    border: var(--border);
    box-shadow: var(--border-shadow);
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin-bottom);
    padding: .4rem .6rem;
}

.theme__button {
    background: var(--neutral-100);
    border-radius: 10px;
    border: none;
    box-shadow: none;
    padding: .8rem;
}

/* Filter bar-menu */

.filter__bar {
    margin-bottom: calc(var(--margin-bottom) * 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.filter__header {
    margin-bottom: var(--margin-bottom)
}


.filter__button {
    margin-inline: .3rem;
    font-size: 1.2rem;
}

.filter__button:active {
    background-color: var(--red-700);
    color: var(--neutral-0);
}

.extension__card {
    border: var(--border);
    box-shadow: var(--border-shadow);
    border-radius: 1rem;
    padding: 1.2rem;
    background-color: var(--neutral-0);
    display: grid;
    margin-bottom: var(--margin-bottom);
    /* MUST USE GRID here this is just for now!!! */
    max-width: 360px;
}

.card__info {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1.2rem;
    margin-bottom: calc(var(--margin-bottom) * 3);
}

.card__description-group>p {
    color: var(--neutral-600);
}

.card__menu {
    display: flex;
    justify-content: space-between;
}

.card__button {
    box-shadow: none;
}