@font-face {
    font-family: 'Noto Sans';
    src: url('../src/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../src/assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

:root {

    /* Neutral colors */
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);

    /* Red colors */

    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);

    /* Gradient */

    --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);




    /* Margins */
    --margin-bottom: 1rem;


    /* Theme colors - white */
    /* background colors */
    --app-background-color-theme: var(--light-gradient);
    --background-color: var(--neutral-0);

    /* button elements */
    --button-theme-background: var(--neutral-100);
    --button-theme-background-hover: var(--neutral-300);
    --button-background-checked: var(--red-700);
    --button-background-color-hover: var(--red-400);
    --button-toggle-background-color: var(--neutral-300);
    --button-card-bg-color-hover: var(--red-700);
    --button-card-text-color: var(--neutral-900);
    --button-card-text-color-hover: var(--neutral-0);
    --button-font-color-checked: var(--neutral-0);

    /* Border elements */
    --border-top-bar: 1px solid var(--neutral-200);
    --border-shadow: 0 2px var(--neutral-200);
    --border: 1px solid var(--neutral-200);
    --border-outline: 2px solid var(--red-700);

    /* fonts */
    --font-main-color: var(--neutral-900);
    --font-card-description-color: var(--neutral-600);

    /* Logo color */
    --logo-color: var(--red-700)
}

.extension__app {
    container-type: inline-size;
    color: var(--font-main-color);
    background: var(--app-background-color-theme);
    font-family: "Noto Sans", sans-serif;
    padding: 5rem clamp(.6rem, 8vw, 7rem);
    min-height: 100dvh;
}



.extension__app[data-theme="dark"] {
    /* Theme colors - dark */
    /* background colors */
    --app-background-color-theme: var(--dark-gradient);
    --background-color: var(--neutral-800);

    /* button elements */
    --button-theme-background: var(--neutral-700);
    --button-theme-background-hover: var(--neutral-600);
    --button-background-checked: var(--red-400);
    --button-background-color-hover: var(--red-500);
    --button-toggle-background-color: var(--neutral-600);
    --button-card-text-color: var(--neutral-0);
    --button-card-text-color-hover: var(--neutral-900);
    --button-card-bg-color-hover: var(--red-400);


    /* Border elements */
    --border-top-bar: none;
    --border-shadow: none;
    --border-outline: 2px solid var(--red-700);
    --border: 1px solid var(--neutral-600);

    /* Card Elements */
    --font-card-description-color: var(--neutral-300);
    --button-font-color-checked: var(--neutral-900);
    --font-main-color: var(--neutral-0);

    /* Logo color */
    --logo-color: var(--red-400)
}

/* Generic */

.button {
    background: var(--background-color);
    border-radius: 4rem;
    border: var(--border);
    box-shadow: var(--border-shadow);
    cursor: pointer;
    padding: .4rem 1rem;
    font-weight: 500;
}

.button:focus {
    outline: var(--border-outline);
    outline-offset: 1px;
}



/* Extension */
/* Top bar-menu */

.theme__bar {
    align-items: center;
    background-color: var(--background-color);
    border-radius: .8rem;
    border: var(--border-top-bar);
    box-shadow: var(--border-shadow);
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(var(--margin-bottom) *3);
    padding: .4rem .6rem;
}

.logo__section>svg>path {
    fill: var(--font-main-color);
}

.logo__section>svg>g>path {
    fill: var(--logo-color);
}


.theme__button {
    background: var(--button-theme-background);
    border-radius: .6rem;
    border: none;
    box-shadow: none;
    padding: .8rem;
}

.theme__button:hover {
    background-color: var(--button-theme-background-hover);
}

/* Filter bar-menu */

.filter__bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: calc(var(--margin-bottom) * 2);
}

@container (width > 560px) {
    .filter__bar {
        justify-content: space-between;
    }
}


.filter__button-list {
    display: flex;
    gap: .75rem
}

.filter__input {
    appearance: none;
}

.filter__input-label {
    background: var(--background-color);
    border: var(--border);
    box-shadow: var(--border-shadow);
    padding: .4rem 1rem;
    border-radius: 2rem;
    font-weight: 500;
    font-size: 1.2rem;

}

.filter__input:checked+.filter__input-label {
    background: var(--button-background-checked);
    color: var(--button-font-color-checked);
    border: none;
}

.filter__input:hover+.filter__input-label {
    background: var(--button-background-color-hover);
    color: var(--button-font-color-checked);
    cursor: pointer;
    border: none;
}

.filter__input:focus+.filter__input-label {
    outline: var(--border-outline);
    outline-offset: 1px;
}

.grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}


.extension__card {
    border: var(--border);
    box-shadow: var(--border-shadow);
    border-radius: 1rem;
    padding: 1.2rem;
    background-color: var(--background-color);

}

.card__name {
    margin-bottom: var(--margin-bottom);
    font-size: 1.5rem;
}

.card__info {
    align-items: start;
    display: flex;
    font-weight: 500;
    gap: 1.2rem;
    justify-content: space-between;
    margin-bottom: calc(var(--margin-bottom) * 3);
}

.card__paragraph {
    color: var(--font-card-description-color);
}

.card__menu {
    display: flex;
    justify-content: space-between;
}

.card__button {
    box-shadow: none;
    color: var(--button-card-text-color);
}

.card__button:hover {
    background-color: var(--button-card-bg-color-hover);
    color: var(--button-card-text-color-hover);
}

/* toggle button */

.toggle__container {
    display: flex;
    align-items: center;

}

.button__toggle {
    appearance: none;
}

.toggle__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--button-toggle-background-color);
    width: 2.4rem;
    height: 1.4rem;
    border-radius: 6rem;
    position: relative;
}

.toggle__label:hover,
.button__toggle:checked:hover+.toggle__label {
    background: var(--button-background-color-hover);
}

.toggle__label::before {
    content: "";
    position: absolute;
    background-color: var(--neutral-0);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: .2rem;
    transition: 0.4s ease;
}

.button__toggle:checked+.toggle__label {
    background-color: var(--button-background-checked);
}

.button__toggle:checked+.toggle__label::before {
    transform: translate(1rem);
    transition: 0.4s ease;
}

.button__toggle:focus+.toggle__label {
    outline: var(--border-outline);
    outline-offset: 1px;
}